*.log
.htaccess
sitemap.xml
sitemap.xml.gz
index.php
license.txt
readme.html
README.md
sync.sh
wc-logs/
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/index.php
wp-content/plugins/
wp-content/themes/index.php
wp-content/themes/twentyfourteen/
wp-content/themes/twentythirteen/
wp-content/themes/twentytwelve/
wp-content/upgrade/
wp-content/uploads/
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
